.footer {
  background-color: var(--container-color);
  border-top: 1px solid rgb(0, 0, 0);
}

.footer__container {
  padding: 2rem 0 6rem;
}

.footer__title .footer__link {
  color: var(--title-color);
}

.footer__title {
  text-align: center;
  margin-bottom: var(--mb-2);
}

.footer__link:hover {
  color: var(--title-color-dark);
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--title-color);
  border: 1px solid red;
  border-radius: 1rem;
  height: 2rem;
  width: 8rem;
}

.footer__social-link:hover {
    color: var(--title-color-dark);
}